<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Seleccionar número de aparatos</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Calcule la eficiencia energética de su hogar</h1>
      <p>Tome la iniciativa y resuelva el problema del consumo excesivo de energía</p>
    </div>
  </header>
  <main>
    <h2 class="main__title">Especifique el número de dispositivos que utilizan electricidad:</h2>
    <ul class="list" id="list">
      <li class="list__item">
        <a href="/{{ size }}/{{ lights }}/3">
          <img class="item__img" src="../static/img/battery.svg" alt="battery">
          <span>3-5 aparatos</span></a>
      </li>
      <li class="list__item">
        <a href="/{{ size }}/{{ lights }}/6">
          <img class="item__img" src="../static/img/battery.svg" alt="battery">
          <span>6-8 aparatos</span></a>
      </li>
      <li class="list__item">
        <a href="/{{ size }}/{{ lights }}/10">
          <img class="item__img" src="../static/img/battery.svg" alt="battery">
          <span>10+ aparatos</span></a>
      </li>
    </ul>
  </main>
  <footer></footer>
</body>
</html>
